:root {
  --base-select-selected-option-bg: rgba(153, 122, 122, 0.25);
  --base-select-max-height-closed: 2.75rem;
  --base-select-max-height-opened: 300px;
  --base-select-option-hover-color: #80cbc4;
  --base-select-option-selected: #9fa8da;
  --border-color: #404348;
}

.wrapper {
  max-height: var(--base-select-max-height-closed);
  height: 100%;
  width: 100%;
  min-width: 200px;
  position: relative;
}

.select {
  position: absolute;
  max-height: 2.75rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  outline: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  z-index: 999;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.select[data-opened='true'] {
  max-height: var(--base-select-max-height-opened);
}

.placeholder {
  padding: 0.75rem 0.75rem;
  cursor: pointer;
  background-color: transparent;
}

.options {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.option {
  cursor: pointer;
}

.option:hover {
  background-color: var(--base-select-option-hover-color);
}

.option[data-hasSelected='true'] {
  color: var(--base-select-selected-option-bg);
}
